<!DOCTYPE html>
<html>
<head>
    <title>Using NgSwitchery</title>
    <link rel="stylesheet" href="../bower_components/switchery/dist/switchery.css" />
    <script src="../bower_components/switchery/dist/switchery.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../src/ng-switchery.js"></script>
    <script src="ng-switchery-sample.js"></script>
</head>
<body ng-app="NgSwitcherySample">
    <div ng-controller="NgSwitcheryCtrl">
        <label for="active"></label>
        <input type="checkbox" id="active" class="js-switch" ng-model="active" ui-switch
         ui-switch-options='{"color": "rgb(255, 119, 145)"}'/>
        <label for="program"></label>
        <input type="checkbox" id="program" class="js-switch" ng-model="program" ui-switch />
    </div>
</body>
</html>
